@import "tailwindcss";
@import '@rainbow-me/rainbowkit/styles.css';

:root {
  --background: #E8E9EB;
  --foreground: #101820;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101820;
    --foreground: #E8E9EB;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

html {
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
}